.alert-danger , .alert-success{
  margin-left: 5px;
  margin-right: 5px;
  margin-top:10px;
}
.card-title{
  width: 95%;
}
.fa-search{
  margin-left: 5px;
}
.add_btn{
  margin-bottom: 10px;
}
.thumb{
  width:100px;
  height:100px;
}
.div_h_20{
  height: 20px;
}
